
.mainContainer{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
.titleLine{
width: 110px;
height: 3px;
background-color: red;
}
.hqText{
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    color:var(--main-color)
}
.emailTxt{
    font-size: 25px !important;
    font-weight: bold;
}
.mapImage{
    width: 100%;
    height: 200px !important;
}
