.main{
   background-image: url('../public/bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   z-index: -1;
}

.contantContainer{
    padding-left: 30px;
    padding-right: 30px;

}

  /* <===Header Section typewriter  Animation===> */
  .title {
    margin-top: 200px;
    border-right: solid 3px var(--main-color);
    white-space: nowrap;
    overflow: hidden;    
    font-size: 50px;
  }
  @media screen and (max-width: 960px) {
    .title {
     margin-top: 120px;
     font-size: 30px;   
    }
  }

  .title {
     animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 75%;}
  }
  @keyframes animated-cursor{
    from{border-right-color: var(--main-color);}
    to{border-right-color: transparent;}
  }
  
  .linksTab{
    padding: 0px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

.linksTab  li {
    display: table-cell;
    position: relative;
  }
  @media screen and (max-width: 990px) {
    .linksTab  li {
     display: block;
     width: 100%;
    }
  }

  @media screen and (max-width: 990px) {
    .linksTab {
     display: block;
     width: 100%;
     margin-top: 20px;   
    }
  }
  .linksTab  li a {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  @media screen and (max-width: 990px) {
    .linksTab  li a {
      display: block; 
      width: 100%;
      margin-top: 5px;

    }
  }
  .linksTab  li a:hover:after {
    width:100%;
    right: 0;
  }
  .linksTab  li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    background: var(--main-color);
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
  }

  /* <====icons animation===> */
  .IconsContainer {
    display: flex;
   position: absolute;
   margin:0px;
   padding:0px;
   bottom: 20px;
  }

  .IconsContainer li {
    list-style: none;
    margin-top: 35px;
  }

  .IconsContainer li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 25px;
    margin: 0px 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .IconsContainer li a .icon {
    position: relative;
    color: #262626;
    transition: 1s;
    z-index: 3;
  }
  
  .IconsContainer li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .IconsContainer li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
  }
  
  .IconsContainer li a:hover:before {
    top: 0;
  }
  .IconsContainer li:nth-child(1) a:before {
    background: #3b5999;
  }
  .IconsContainer li:nth-child(2) a:before {
    background: #dd4b39;

  }
  
  .IconsContainer li:nth-child(3) a:before {
    background: #0077b5;
  }
  .IconsContainer li:nth-child(4) a:before {
    background: #55acee;

  }  
