.main{
    padding-left: 30px;
    padding-right: 30px;
}
.title{
    text-align: center;
    margin-top: 50px;

}
.heading{
    text-align: center;
}
.card{
    background-color:gray;
    height: 200px;
    padding-top: 20px;
    padding-left: 50px;
    border-radius: 8px;
    margin-top: 30px;
  
}
.cardTitle{
    color: #fff;
}
.cardHeading{
    color: #fff;
    padding-top: 10px;
}

/* animation card icon */
  .iconsContainer a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 42px;
    font-size: 25px;
    margin: 0px 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .iconsContainer a  .cardIcon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
  }
  
  .iconsContainer a:hover .cardIcon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .iconsContainer a:before {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 1s;
    z-index: 2;
  }
  
  .iconsContainer a:hover:before {
  top: 0;
  }
  
  .iconsContainer:nth-child(1) a:before {
    background: #ef5330;
  }
  
  .iconsContainer:nth-child(2) a:before {
    background: #55acee;
  }
  
  .iconsContainer:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .iconsContainer:nth-child(3) a:before {
    background: #0077b5;
  }
   

  